*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-left: 20%;
    padding-right: 20%;
    background-color: #FAF6EE;
}

header{
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 20%;
    right: 20%;
}

@media screen and (max-width: 950px){
    body{
      padding-left: 15%;
      padding-right: 15%;
    }
    header{
      left: 15%;
      right: 15%;
    }
}

@media screen and (max-width: 800px){
    body{
      padding-left: 10%;
      padding-right: 10%;
    }
    header{
      left: 10%;
      right: 10%;
    }
}

@media screen and (max-width: 500px){
    body{
      padding-left: 5%;
      padding-right: 5%;
    }
    header{
      left: 5%;
      right: 5%;
    }
}

.page-header{
  background-color:#FAF6EE;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.logo{
  color: #3E4A2C;
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.nav-bar{
  margin: auto;
}

.nav-bar a{
  color: #3E4A2C;
  padding: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.menu-icon{
  color: #3E4A2C;
  cursor: pointer;
  display: none;
  align-self: center;
}

button{
  font-size: 0.8rem;
  font-weight: bold;
  color: #3E4A2C;

  border: 1px solid #3E4A2C;
  background-color: #C5E7D6;
  border-radius: 25px;

  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

@media screen and (max-width: 750px){
  .nav-bar{
    display: none;
    position: absolute;
    top: 3.7rem;
    left: 0;
    width: 100%;
    background-color: #FAF6EE;
    text-align: center;
  }

  .nav-bar.responsive{
    display: block;
  }

  .nav-bar a{
    display: block;
  }

  .menu-icon{
    display: block;
    z-index: 1;
    align-self: center;
  }
}

section{
    margin-top: 100px;
    height: 500px;
}

h1{
    font-size: 4rem /* 64px */;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #3E4A2C;
}

h2{
    font-size: 1.5rem /* 24px */;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #779576;
}

h5{
    font-size: 0.8rem /* 12px */;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #3E4A2C;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    border-radius: 25px;

    border-style: solid;
    border-width: 1px;
    border-color: #3E4A2C;
}

#backgroundHeader{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

footer{
  top: 20%;
  left: 20%;
  background: #3E4A2C;
  border-radius: 5px;
}

footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 2.5% 5% 2.5% 5%;
}

.footer-row .footer-col h4{
  color: #fff;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.footer-col .links{
  margin-top: 20px;
}

.footer-col .links li{
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: white;
}

.footer-col .links li a:hover{
  color: #779576;
  text-decoration: underline;
}

.footer-col p{
  margin: 20px 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  max-width: 300px;
}

.footer-col form{
  display: flex;
  gap: 5px;
}

.footer-col input{
  height: 40px;
  border-radius: 6px;
  background: #FAF6EE;
  width: 100%;
  outline: none;
  border: 1px solid #779576;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
}

.footer-col input::placeholder {
  color: #ccc;
  font-family: 'Roboto', sans-serif;
}

 .footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #FAF6EE;
}

.footer-col .icons i:hover  {
  color: #fff;
}

@media (max-width: 768px) {
  footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
}